@model IEnumerable<Persistence.AnswerStatistics>

@{
    ViewData["Title"] = "Statisztika";
}

<h1>@ViewData["Question"]</h1>
<p>Szavazás aránya: @ViewData["PollPercent"] %</p>
<p>Szavazatok száma: @ViewData["VoteCount"] </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfVotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percent) %
                </td>

            </tr>
        }
    </tbody>
</table>
